@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
    --bg-color: #e5e7eb; /* Gray-200 */
    --text-color: #374151; /* Gray-700 */
    --nav-bg: #e5e7eb; /* Gray-200 */
    --nav-text: #1f2937; /* Gray-800 */
    --icon-color: #1f2937; /* Gray-800 */
    --toggle-btn-color: #1f2937;
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
    --bg-color: #1f2937; /* Gray-800 */
    --text-color: #d1d5db; /* Gray-300 */
    --nav-bg: #374151; /* Gray-700 */
    --nav-text: #d1d5db; /* Gray-300 */
    --icon-color: #d1d5db; /* Gray-300 */
    --toggle-btn-color: #d1d5db;
  }
  
/* Apply global styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


